<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="bootstrap.css">
    <link rel="stylesheet" th:href="style.css">
    <script type="application/javascript" th:src="scripts.js"></script>
    <title>SQL Your CSV!</title>
</head>
<body>
    <div id="headerContainer">
        <h1 id="header">SQL Your CSV</h1>
    </div>
    <div>
        <h1 id="errorMessage" th:text="${message}"></h1>
    </div>
</body>
</html>